html {
	scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: default;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {scroll-behavior: auto;}
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ALIGNMENT SECTION ----------------------------------------*/
.fc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tc {text-align: center;}

.tl {text-align: left;}

/* COLOR SECTION ----------------------------------------*/
.nav-color {background: #000000;}

.bg-color {background: #101010;}

.block-color {background: #1F1F1F}

.faq-color {background: #2e2e2e;}

.white {background: #ffffff;}

.text-color {color: #ffffff;}

.text-color-2 {color: #868D98;}

.text-color-3 {color: #B8B8B8;}

.text-color-4 {color: #4F545C;}

.text-error {
    color: #FF5C00;
    padding-left: 5px;
}

/* FONT SECTION ----------------------------------------*/
.nunito-sans-regular {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.nunito-sans-extrabold {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.hind-vadodara-bold {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
}

/* VALIDATION CLASSES ----------------------------------------*/
.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

/* RE-USED ITEMS ----------------------------------------*/
.grow { transition: all 0.2s ease; }

.grow:hover { transform: scale(1.1); }

/* TOP NAV BAR ----------------------------------------*/
.nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    min-height: 70px; 
    background: #000000e3;
    box-shadow: 0 4px 4px #000000e8;
}

.heading { font-size: 30px; }

.nav-links {justify-content: space-around;}

.nav-links li {list-style: none;}

.nav-links a {
    text-decoration: none;
    padding: 1.2rem 1.2rem;
}

.nav-menu {
    position: relative;
    display: none;
    gap: 0.5rem;
}

.nav-menu a {text-decoration: none;}

.menu-button:hover {cursor: pointer;}

.menu {
    position: absolute;
    top: 55px;
    z-index: 2;
    overflow: hidden;
}

.menu a {
    width: 170px;
    height: 60px;
}

.menu a:hover {background: #0076FF;}

.vis {display: none;}

.show {display: flex;}

.contact-button {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border: 4px solid #0076FF;
    border-radius: 15px;
    background: #005bc3;
    box-shadow: 0 6px 8px #002f66;
    transition: all 0.2s ease;
    cursor: pointer;
}

.contact-button:hover {
    animation: color_shift 1.6s infinite linear;
    background: #000000;
    box-shadow: 0 6px 8px #002f66;
}

@keyframes color_shift {
    0% {
        border: 4px solid #0076FF;
        box-shadow: 0 6px 8px #002f66;
    }
    50% {
        border: 4px solid #FF5C00;
        box-shadow: 0 6px 8px #5a2100;
    }
    100% {
        border: 4px solid #0076FF;
        box-shadow: 0 6px 8px #002f66;
    }
}

/* BLOCK 1 start ----------------------------------------*/
.block-1 {
    height: 730px;
    width: 100vw;
    border-top: 70px solid #000000;
    user-select: none;
    -webkit-user-select: none;
}

#follower {
    position: absolute;
    transform:translate(-50%,-50%);
    z-index: 1;
    cursor: none;
    transition: opacity 0.2s ease;
}

.fade {opacity: 0;}

.heading-1 {
    width: 640px;
    font-size: 40px;
    z-index: 2;
    pointer-events: none;
}

.heading-1-1 {
    position: relative;
    margin-right: 170px;
    font-size: 40px;
    z-index: 2;
    padding-bottom: 20px;
    pointer-events: none;
}

#temp-line {
    position: absolute;
    bottom: 25px;
    right: -176px;
    width: 170px;
    z-index: -1;
    border-top: 3px solid #ffffff;
    transition: opacity 0.4s ease;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 6px;
    z-index: 2;
}

.slidingVertical span{
	animation: topToBottom 16s linear infinite;
    background: linear-gradient(to right, #FF5C00 20%, #0076FF 80%); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.slidingVertical span:nth-child(2){
	animation-delay: 4s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 8s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 12s;
}

/*topToBottom Animation*/
@keyframes topToBottom{
	0% { opacity: 0; }
	6% { opacity: 0; transform: translateY(-15px); }
	8% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 1; transform: translateY(0px); }
	32% { opacity: 0; transform: translateY(15px); }
	100% { opacity: 0; }
}

#tsparticles canvas {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    pointer-events: none !important;
  }

#wave-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 0;
    opacity: 0;
    transition: opacity 4s ease;
    pointer-events: none;
}

.divider {
    border-top: 2px solid;
    width: 600px;
    z-index: 2;
    pointer-events: none;
}

.body-text-1 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    width: 580px;
    z-index: 2;
    pointer-events: none;
}

#button-shell {z-index: 2;}

.learn-more-button-first {
    font-weight: bolder;
    gap: 8px;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border: 4px solid #0076FF;
    border-radius: 15px;
    background: #005bc3;
    box-shadow: 0 6px 6px #002f66;
    transition: transform 0.3s ease, 
                background 0.4s ease, 
                box-shadow 0.4s ease,
                border 0.4s ease;
}

.learn-more-button-first:hover {
    background: #ca4a00;
    box-shadow: 0 6px 6px #5a2100;
    border: 4px solid #FF5C00;
    transform: scale(1.1);
    animation: color_shift_slow;
}

.learn-more-button {
    position: relative;
    overflow: hidden;
    font-weight: bolder;
    gap: 8px;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border: 4px solid #0076FF;
    border-radius: 15px;
    background: #005bc3;
    box-shadow: 0 6px 6px #002f66;
    transition: transform 0.3s ease, 
                background 0.4s ease, 
                box-shadow 0.4s ease,
                border 0.4s ease;
}

.learn-more-button:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 6s infinite linear;
}

.learn-more-button:hover {
    background: #ca4a00;
    box-shadow: 0 6px 6px #5a2100;
    border: 4px solid #FF5C00;
    transform: scale(1.1);
    animation: color_shift_slow;
}

@keyframes shine {
    0% {left: -100px;}
    12% {left: 100%}
    100% {left: 100%}
}

.spacer-1 {
    width: 100vw;
    height: 10px;
}

/* BLOCK 2 start ----------------------------------------*/
.block-2 {
    max-height: 575px;
    min-height: 400px;
    width: 100vw;
    gap: 80px;

    border-top: 75px solid rgba(0, 0, 0, 0); 
    border-bottom: 75px solid rgba(0, 0, 0, 0); 
    background-clip: padding-box; 
}

.block-2::before,
.block-2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.block-2::before {
    border-top: 2px solid #FF5C00; 
    top: 805px;
}

.block-2::after {
    border-top: 2px solid #0076FF; 
    top: 1230px;
}

.block-2-image {
    z-index: 2;
    max-width: 572px;
    max-height: 575px;
    min-width: 340px;
    min-height: 340px;
    margin-left: 2rem;
}

.block-2-text {
    align-items: start;
    margin-right: 2rem;
}

.heading-2 {
    padding-bottom: 20px;
    max-width: 520px;
    min-width: 320px;
}

.body-text-2 {
    max-width: 530px;
    min-width: 320px;
}

/* BLOCK 3 start ----------------------------------------*/
.block-3 {
    height: 520px;
    width: 100vw;
}

.heading-3 {
    padding-bottom: 35px;
    width: 450px;
}

.block-3-icons {
    display: grid;
    grid-template-columns: 200px 1px 200px 1px 200px 1px 200px 1px 200px;
    column-gap: 1rem;
    row-gap: 2rem;
}

.divider-3 {
    border-left: 1px solid;
    height: 160px;
    width: 1px;
}

/* .icon-3 {} */

.icon-image-3 {height: 80px;}

.icon-text-3 {
    width: 190px;
    height: 93px;
    padding-top: 20px;
}

.spacer-3-4 {
    width: 100vw;
    height: 40px;
}

/* BLOCK 4 start ----------------------------------------*/
.block-4 {
    max-height: 586px;
    min-height: 500px;
    width: 100vw;
    gap: 60px;

    border-top: 50px solid rgba(0, 0, 0, 0); 
    background-clip: padding-box; 
}

.block-4-text {
    align-items: start;
    margin-left: 2rem;
} 

/* this is the same as heading 2 but do i care? maybe */
.heading-4 {
    padding-bottom: 20px;
    max-width: 430px;
    min-width: 320px;
}

.body-text-4 {
    padding-bottom: 30px;
    max-width: 510px;
    min-width: 320px;
}

.body-text-4-1 {
    padding-bottom: 30px;
    max-width: 400px;
    min-width: 320px;
}

.block-4-image {
    max-width: 576px;
    max-height: 586px;
    min-width: 340px;
    min-height: 344px;
    margin-right: 2rem;
}

.block-4-image-2 {
    display: none;
}

.spacer-4-5 {
    width: 100vw;
    height: 180px;
}

/* BLOCK 5 start ----------------------------------------*/
.block-5 {
    max-height: 599px;
    min-height: 500px;
    width: 100vw;
    gap: 40px;

    border-bottom: 50px solid rgba(0, 0, 0, 0); 
    background-clip: padding-box; 
}

.block-5-image {
    max-width: 631px;
    max-height: 599px;
    min-width: 340px;
    min-height: 330px;
    margin-left: 2rem;
}

.block-5-text {
    align-items: flex-start;
    margin-right: 2rem;
}

.heading-5 {
    padding-bottom: 20px;
    max-width: 520px;
    min-width: 320px;
}

.body-text-5 {
    padding-bottom: 30px;
    max-width: 540px;
    min-width: 320px;
}

.body-text-5-1 {
    padding-bottom: 30px;
    max-width: 420px;
    min-width: 320px;
}

/* BLOCK 6 start ----------------------------------------*/
.block-6 {
    height: 860px;
    width: 100vw;
}

.heading-6 {
    max-width: 1030px;
}

.divider-6 {
    max-width: 900px;
    min-width: 900px;
    border-top: 5px solid transparent;
    background: 
      linear-gradient(to right, #101010, #101010), 
      linear-gradient(to right, #ff5c00 30%, #0076FF 70%); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    margin-bottom: 20px;
}

.block-6-content {
    width: 100vw;
    height: 260px;
    gap: 25px;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

/* .block-6-person {} */

.icon-6 {
    width: 120px;
    height: 120px;
    margin-left: 2rem;
}

.body-text-6 {
    width: 300px;
    margin-left: 2rem;
}

.body-text-6-1 {
    width: 300px;
    margin-left: 2rem;
}

.block-6-quote {
    max-width: 600px;
    min-width: 340px;
    gap: 30px;
    margin-right: 2rem;
}

.block-6-quote-2 {
    display: none;
}

.block-6-partners {
    gap: 35px;
    padding-top: 30px;
}

.partner-6 {
    transition: all 0.2s ease;
}

.partner-6:hover {
    transform: scale(1.1);
}

.spacer-6-7 {
    width: 100vw;
    height: 20px;
}

/* BLOCK 7 start ----------------------------------------*/
.block-7 {
    height: 540px;
    padding-bottom: 20px;
    width: 100vw;
}

.heading-7 {
    max-width: 670px;
    padding-bottom: 50px;
}

.heading-7-color {
    background: linear-gradient(to right, #FF5C00 30%, #0076FF 70%); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.grid-7 {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    column-gap: 80px;
    row-gap: 60px;
}

.grid-7-card {
    justify-content: start;
}

.heading-7-1 {
    max-width: 280px;
    font-size: 22px;
    padding-bottom: 10px;
}

.divider-7-1 {
    width: 260px;
    border-top: 1px solid;
}

.body-text-7 {
    width: 250px;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 20px;
    align-self: start;
}

.spacer-7-8 {
    width: 100vw;
    height: 170px;
}

/* BLOCK 8 start ----------------------------------------*/
.block-8-top {
    height: 100px;
    width: 100vw;
}

.heading-8-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 1080px;
}

/* .heading-8 {} */

.block-8 {
    align-items: flex-start;
    height: 600px;
    width: 100vw;
    gap: 30px;
}

.block-8-card {
    justify-content: flex-start;
    width: 300px;
    height: 380px;
    border-radius: 20px;
}

#card1 {
    box-shadow: 0 8px 10px #4a4e54;
}

#card2 {
    box-shadow: 0 8px 10px #002f66;
}

#card3 {
    box-shadow: 0 8px 10px #5a2100;
}

.heading-8-1 {
    font-size: 26px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 23px;
}

.body-text-8 {
    width: 260px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.contact-link:hover {
    background: linear-gradient(to right, #FF5C00, #0076FF); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/* BLOCK 9 start ----------------------------------------*/
.block-9 {
    height: 400px;
    width: 100vw;
    gap: 40px;
    background: linear-gradient(to right, #FF5C00, #0076FF);
}

.heading-9 {
    font-size: 34px;
    max-width: 720px;
}

.block-9-button {
    gap: 12px;
}

.end-button {
    padding: 0.9rem 1rem 0.9rem 1rem;
    background-color: #161616;
    color: rgb(150, 108, 147);
    border-radius: 15px;
    box-shadow: 0 6px 8px #00000075;
    font-size: 24px;
    transition: transform 1s ease,
                color 0.2s ease,
                box-shadow 0.2s ease;
    animation: dance 2s infinite;
}

.end-button:hover {
    color: #ffffff;
    box-shadow: 0 8px 8px #ffffffa9;
}

@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* BLOCK 10 start ----------------------------------------*/
.block-10 {
    align-items: end;
    height: 155px;
    width: 100vw;
    gap: 10rem;
    padding-bottom: 30px;
}

.block-10-logo {align-items: start;}

.block-10-nav {
    padding-bottom: 70px;
    gap: 50px;
}

.pa {display: flex;}

.pa-2 {
    display: none;
    padding-left: 4px;
}

/* About us BLOCK 1 start ----------------------------------------*/
.ablock-1 {
    position: relative;
    height: 320px;
    width: 100vw;
    border-top: 70px solid #000000;
    background: #0076FF; 
}

#gradient {
    background: linear-gradient(to right, #FF5C00 30%, #0076FF 70%);
    background-size: 300% 300%;
    animation: shift 7s ease infinite;
}

@keyframes shift {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.abody-text-2 {
    position: absolute;
    max-width: 805px;
    bottom: -48px;
    right: 42vw;
    padding-right: 2rem;
    font-size: 160px;
}

/* About us BLOCK 2 start ----------------------------------------*/
.ablock-2 {
    width: 100vw;
    height: 760px;
    gap: 36px;
}

.ablock-2-image {
    max-width: 157px;
    max-height: 524px;
}

#desktop-timeline { display: flex; }

#mobile-timeline { display: none; }

.ablock-2-text {
    padding-top: 10px;
    justify-content: left;
    width: 570px;
    gap: 100px;
}

.aspacer-2-3 {
    width: 100vw;
    height: 40px;
}

/* About us BLOCK 3 start ----------------------------------------*/
.ablock-3 {
    max-height: 560px;
    min-height: 520px;
    width: 100vw;
    gap: 50px;

    border-top: 50px solid rgba(0, 0, 0, 0); 
    border-bottom: 50px solid rgba(0, 0, 0, 0); 
    background-clip: padding-box; 
}

.ablock-3-text {
    align-items: start;
    margin-left: 2rem;
}

.aheading-3 {
    padding-bottom: 25px;
    max-width: 200px;
}

.abody-text-3 {
    padding-bottom: 30px;
    max-width: 520px;
    min-width: 320px;
}

.abody-text-3-1 {
    max-width: 520px;
    min-width: 320px;
}

.ablock-3-image {
    max-width: 572px;
    max-height: 575px;
    min-width: 340px;
    min-height: 340px;
    margin-right: 2rem;
}

.ablock-3-image-2 {
    display: none;
}

.aspacer-3-4 {
    width: 100vw;
    height: 180px;
}

/* About us BLOCK 4 start ----------------------------------------*/
.ablock-4-top {
    justify-content: flex-start;
    height: 100px;
    width: 100vw;
}

.aheading-4 {
    width: 440px;
}

.aheading-4-1 {
    width: 740px;
    font-size: 28px;
    background: linear-gradient(to right, #FF5C00 30%, #0076FF 70%); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.ablock-4 {
    width: 100vw;
    height: 320px;
}

.acards-4 {gap: 70px;}

.ablock-4-card {
    height: 280px;
    justify-content: start;
    margin-top: 50px;
    gap: 20px;
}

.abody-text-4 {
    font-size: 18px;
    width: 360px;
}

.aspacer-4-5 {
    width: 100vw;
    height: 180px;
}

/* About us BLOCK 5 start ----------------------------------------*/
.ablock_5 {width: 100vw;}

.aheading-5 {width: 170px;}

.adivider-5 {
    width: 180px;
    border-top: 5px solid transparent;
    background: 
      linear-gradient(to right, #101010, #101010), 
      linear-gradient(to right, #ff5c00 30%, #0076FF 70%); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    padding-bottom: 20px;
}

.aheading-5-1 {
    max-width: 660px;
    padding-bottom: 30px;
}

.acards-5 {
    align-items: flex-start;
    gap: 37px;
}

.ablock-5-card {
    position: relative;
    justify-content: flex-start;
    width: 340px;
    padding-bottom: 28px;
    border-radius: 20px;
}

#acard1 { box-shadow: 0px 8px 10px #5a2100; }

#acard2 { box-shadow: 0px 8px 10px #002f66; }

.aheading-5-2 {
    padding-top: 12px;
    font-size: 26px;
}

.aheading-5-3 {
    font-size: 18px;
    padding-bottom: 4px;
}

.aicons-5 { gap: 8px; }

.abody-heading {
    gap: 180px;
    align-items: flex-end;
    padding-bottom: 10px;
}

.about-title {
    font-size: 19px;
}

.card-button {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    padding: 0.2rem 0.6rem;
    border: 2px solid #FF5C00;
    border-radius: 15px;
    cursor: pointer;
}

#cardbutton2 {
    border: 2px solid #0076FF;
}

.about-panel {
    display: block;
    position: relative;
    max-height: 170px;
    overflow: hidden;
    border-radius: 15px;
    transition: max-height 0.3s ease;
    padding-bottom: 6px;
}

.abody-text-5-panel {
    width: 310px;
    z-index: 0;
    margin-top: 5px;
    font-size: 17px;
    padding: 0.3rem 0.6rem;
}

.about-list {
    justify-content: start;
    align-items: start;
    padding-left: 10px;
}

.about-list ul {
    width: 260px;
    padding-top: 8px;
    list-style-type: none;
    text-align: left;
}

.about-list li::before {
    content: "-";
    margin-right: 1em;
    opacity: .5;
}

.card-fade {
    position: absolute;
    z-index: 1;
    width: 310px;
    height: 90px;
    bottom: 0;
    background: linear-gradient(to top, #2e2e2e97 10%, #2e2e2e00);
}

.aspacer-5-6 {
    width: 100vw;
    height: 200px;
}

/* Contact us BLOCK 1 start ----------------------------------------*/
.block-1-wrapper {
    position: relative;
}

.cblock-1 {
    height: 809px;
    width: 100vw;
    gap: 75px;
    border-top: 70px solid #000000;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 1) 35%, rgb(0, 0, 0, 0));
}

.cblock-1-text {align-items: start;}

.cheading-1 {
    width: 350px;
    font-size: 38px;
}

.cheading-1-1 {
    width: 430px;
    font-size: 34px;
    padding-bottom: 130px;
    background: linear-gradient(to right, #FF5C00, #0076FF); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#submit {
    padding: 0.7rem 1.1rem 0.7rem 1.1rem; 
    border: 5px solid #0076FF;
    box-shadow: 0 8px 10px #002f66;
}

#submit:hover{
    animation: color_shift_mid 1.6s infinite linear;
}

@keyframes color_shift_mid {
    0% {
        border: 5px solid #0076FF;
        box-shadow: 0 8px 10px #002f66;
    }
    50% {
        border: 5px solid #FF5C00;
        box-shadow: 0 8px 10px #5a2100;
    }
    100% {
        border: 5px solid #0076FF;
        box-shadow: 0 8px 10px #002f66;
    }
}

#mailto {
    text-decoration: none;
}

#email-link {
    background: linear-gradient(to right, #FF5C00, #0076FF); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#email-link:hover {
    background: linear-gradient(to right, #ffffff, #ffffff); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.cspacer-1 {
    width: auto;
    height: 12px;
}

.tip-1 {
    align-items: start;
    border-radius: 15px;
    padding: 1rem 0.8rem 1rem 0.8rem;
    gap: 8px;
    box-shadow: 0px 8px 10px #00000055;
}

.tip-1-1 {font-size: 26px;}

.form-1 {
    padding-top: 1rem;
    align-items: start;
    gap: 6px;
}

.label-1 {font-size: 24px;}

.form_name {gap: 16px;}

.form-1-fname {
    width: 195px;
    height: 46px;
    border-radius: 15px;
    border: none;
    font-size: 19px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.form-1-lname {
    width: 195px;
    height: 46px;
    border-radius: 15px;
    border: none;
    font-size: 19px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.form-1-email {
    width: 407px;
    height: 46px;
    border-radius: 15px;
    border: none;
    font-size: 19px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.form-1-message {
    width: 407px;
    height: 224px;
    border-radius: 15px;
    border: none;
    font-size: 19px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.success-msg {
    width: 300px;
    padding-bottom: 8px;
}

.tip-2 {
    display: none;
    align-items: start;
    border-radius: 15px;
    padding: 1rem 0.8rem 1rem 0.8rem;
    gap: 8px;
}

.carrow {
    position: absolute;
    right: 49vw;
    bottom: 30px;
}

.carrow-2 {display: none;}

.cspacer-1-2 {
    width: 100vw;
    height: 80px;
}

/* Contact us BLOCK 2 start ----------------------------------------*/
.cspacer-2 {
    width: 100vw;
    height: 40px;
}

.cblock-2 {background: rgb(30, 30, 30, 0.6);}

.cwrapper-2 {padding: 40px 0px 80px 0px;}

.cblock-2-text {gap: 6px;}

.cheading-2 {
    font-size: 22px;
    border-radius: 15px;
    padding: 0.8rem 0.6rem 0.8rem 0.6rem;
}

.form-below {
    background: #101010;
    border: 6px solid #101010;
    box-shadow: 0px 8px 10px #00000055;
}

.form-link {
    background: #101010;
    text-decoration: none;
    border: 6px solid #101010;
    box-shadow: 0px 8px 10px #00000055;
}

.gform {
    max-width: 640px;
    max-height: 700px;
    min-width: 640px;
    min-height: 700px;
    background: #f6f6f6; 
    border-radius: 20px; 
    padding: 18px 0px 18px 0px;
}

.cspacer-2-3 {
    width: 100vw;
    height: 100px;
}

/* Contact us BLOCK 3 start ----------------------------------------*/
.cblock-3 {
    width: 100vw;
    align-items: center;
    margin-bottom: 100px;
}

.faq-container {padding: 4rem;}

.faq-heading {padding-bottom: 20px;}

.faq-block {
    width: 710px;
    align-items: start;
}

.faq-title {
    user-select: none;
    -webkit-user-select: none;
    padding-bottom: 8px;
}

.faq-title:hover {cursor: pointer;}

.faq-arrow {transition: all 0.3s ease;}

.rotate {transform: rotate(90deg);}

.cheading-3-1 {
    padding-left: 1rem;
    font-size: 22px; 
}

.cdivider-3 {
    display: block;
    width: 710px;
    border-top: 2px solid #2e2e2e;
}

.faq-panel {
    display: block;
    max-height: 0;
    overflow: hidden;
    border-radius: 15px;
    transition: max-height 0.3s ease;
}

.cbody-text-3 {
    padding: 0.8rem 1.1rem;
}

@media (max-width: 1220px) {
    .outfit-bold {
        font-size: 26px;
    }
    .heading-1 {
        font-size: 40px;
    }
    .heading-1-1 {
        font-size: 40px;
    }
    .body-text-1 {
        font-size: 20px;
    }
    .block-2 {
        gap: 30px;
    }
    .heading-3 {
        padding-top: 5rem;
    }
    .divider-3 {
        display: none;
    }
    .block-3 {
        margin-bottom: 1rem;
    }
    .block-3-icons {
        grid-template-columns: 200px 200px 200px 200px;
    }
    .block-4 {
        gap: 30px;
    }
    .block-5 {
        gap: 30px;
    }
    .block-6 {
        height: 740px;
    }
    .divider-6 {
        max-width: 660px;
        min-width: 660px;
    }
    .block-7 {
        height: 500px;
    }
    .grid-7 {
        grid-template-columns: 260px 260px 260px;
        column-gap: 2rem;
        row-gap: 2rem;
    }
    .heading-7-1 {
        max-width: 260px;
        font-size: 20px;
    }
    .divider-7-1 {
        max-width: 250px;
    }
    .body-text-7 {
        max-width: 240px;
        font-size: 17px;
    }
    .spacer-7-8 {
        height: 150px;
    }
    .block-8-top {
        height: 80px;
    }
    .heading-8 {
        padding-left: 2rem;
    }
    .block-8 {
        height: 580px;
        gap: 1rem;
    }
    .block-8-card {
        width: 290px;
        height: 370px;
    }
    .heading-8-1 {
        width: 250px;
        padding-top: 20px;
        padding-bottom: 23px;
    }
    .body-text-8 {
        width: 260px;
        padding-top: 30px;
    }
    .block-9 {
        height: 380px;
    }
    .heading-9 {
        font-size: 28px;
        max-width: 620px;
    }
    .block-10 {
        gap: 60px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .block-10-nav {
        gap: 20px;
    }
    .ablock-1 {
        height: 280px;
    }
    .abody-text-2 {
        bottom: -32px;
        font-size: 120px;
    }
    .ablock-2 {
        height: 710px;
    }
    .aspacer-2-3 {
        height: 30px;
    }
    .ablock-3 {
        gap: 20px;
    }
    .aspacer-3-4 {
        height: 120px;
    }
    .ablock-4-top {
        height: 85px;
    }
    .aheading-4 {
        font-size: 30px;
    }
    .acards-4 {
        gap: 40px;
    }
    .aspacer-4-5 {
        height: 140px;
    }
    .acards-5 {
        gap: 1rem;
    }
    .about-title {
        font-size: 19px;
    }
    .cblock-1 {
        height: 740px;
        gap: 40px;
    }
    .cheading-1 {
        font-size: 32px;
    }
    .cheading-1-1 {
        font-size: 30px;
        padding-bottom: 100px;
    }
    .form-1 {
        gap: 4px;
    }
    .label-1 {
        font-size: 22px;
    }
    .form-1-fname {
       width: 175px;
       height: 42px;
       font-size: 17px; 
    }
    .form-1-lname {
        width: 175px;
        height: 42px;
        font-size: 17px; 
    }
    .form-1-email {
        width: 367px;
        height: 42px;
        font-size: 17px;
    }
    .form-1-message {
        width: 367px;
        height: 200px;
        font-size: 17px;
    }
    .carrow {
        width: 280px;
        right: 48vw;
    }
    .cheading-2 {
        font-size: 22px;
    }
    .cheading-3-1 {
        font-size: 21px;
    }
    .faq-heading {
        font-size: 30px;
    }
  }

@media (max-width: 910px) { 
    .outfit-bold {
        font-size: 24px;
    }
    .nunito-sans-regular {
        font-size: 18px;
    }
    .hind-vadodara-bold {
        font-size: 30px;
    }
    .block-1 {
        height: 600px;
    }
    #wave-canvas {
        height: 674px;
    }
    .heading-1 {
        padding-top: 2rem;
        width: 490px;
        font-size: 34px;
    }
    .heading-1-1 {
        font-size: 34px;
        margin-right: 155px;
    }
    #temp-line {
        width: 145px;
        right: -151px;
    }
    .divider {
        width: 500px;
    }
    .spacer-1 {
        height: 0px;
    }
    .block-2::before {
        border-top: transparent; 
    }
    .block-2::after {
        border-top: transparent; 
    }
    .heading-3 {
        padding-top: 1rem;
    }
    .block-3-icons {
        grid-template-columns: 200px 200px 200px;
    }
    .spacer-4-5 {
        height: 100px;
    }
    .block-6 {
        height: 640px;
    }
    .divider-6 {
        max-width: 600px;
        min-width: 600px;
    }
    .block-7 {
        height: 580px;
    }
    .heading-7 {
        padding-bottom: 40px;
    }
    .grid-7 {
        grid-template-columns: 260px 260px;
    }
    .heading-7-1 {
        font-size: 18px;
    }
    .body-text-7 {
        font-size: 17px;
    }
    .spacer-7-8 {
        height: 120px;
    }
    .block-8 {
        height: 540px;
        gap: 0.8rem;
    }
    .block-8-card {
        width: 260px;
        height: 360px;
    }
    .heading-8-1 {
        font-size: 22px;
    }
    .body-text-8 {
        width: 230px;
    }
    .block-9 {
        height: 360px;
    }
    .heading-9 {
        max-width: 520px;
    }
    .block-10 {
        gap: 40px;
    }
    .block-10-nav {
        gap: 20px;
    }
    .ablock-1 {
        height: 240px;
    }
    .abody-text-2 {
        bottom: -26px;
        font-size: 100px;
    }
    .ablock-2 {
        height: 660px;
    }
    .ablock-2-image {
        margin-left: 2rem;
        min-width: 120px;
        min-height: 424px;
    }
    .ablock-2-text {
        width: 520px;
        margin-right: 2rem;
    }
    .aspacer-2-3 {
        height: 0px;
    }
    .aspacer-3-4 {
        height: 100px;
    }
    .ablock-4 {
        height: 310px;
    }
    .ablock-4-top {
        height: 70px;
    }
    .abody-text-4 {
        font-size: 17px;
        width: 340px;
    }
    .aspacer-4-5 {
        height: 130px;
    }
    .ablock-5-card {
        width: 330px;
    }
    .abody-heading {
        margin-left: 100px;
        gap: 80px;
    }
    .about-title {
        font-size: 19px;
    }
    .abody-text-5-panel {
        font-size: 17px;
    }
    .aheading-5-2 {
        font-size: 24px;
    }
    .aheading-5-3 {
        font-size: 17px;
    }
    .aicons-5 {
        width: 260px;
    }
    .abody-text-5 {
        width: 280px;
        font-size: 17px;
    }
    .aspacer-5-6 {
        height: 160px;
    }
    .cblock-1 {
        gap: 30px;
        height: 700px;
    }
    .cheading-1 {
        font-size: 28px;
        width: 280px;
    }
    .cheading-1-1 {
        font-size: 26px;
        width: 340px;
        padding-bottom: 70px;
    }
    .tip-1-1 {
        width: 270px;
        font-size: 24px;
    }
    .tip-1-2 {
        width: 270px;
    }
    .form-1 {
        gap: 3px;
    }
    .label-1 {
        font-size: 22px;
    }
    .form_name {
        gap: 10px;
    }
    .form-1-fname {
       width: 160px;
       height: 42px;
       font-size: 16px; 
    }
    .form-1-lname {
        width: 160px;
        height: 42px;
        font-size: 16px; 
    }
    .form-1-email {
        width: 329px;
        height: 42px;
        font-size: 16px;
    }
    .form-1-message {
        width: 329px;
        height: 180px;
        font-size: 16px;
    }
    .carrow {
        width: 260px;
        right: 48vw;
        bottom: 30px;
    }
    .cheading-2 {
        font-size: 22px;
    }
    .cheading-3-1 {
        font-size: 21px;
    }
    .faq-heading {
        font-size: 30px;
    }
}

@media (max-width: 800px) { 
    .nunito-sans-regular {
        font-size: 17px;
    }
    .nunito-sans-extrabold {
        font-size: 17px;
    }
    #logo {
        width: 30px;
        height: 30px;
    }
    .heading { 
        font-size: 26px; 
    }
    .nav-links {
        display: none;
    }
    .nav-menu {
        display: flex;
    }
    .block-1 {
        height: 500px;
    }
    #wave-canvas {
        height: 674px;

    }
    .heading-1 {
        padding-top: 4rem;
        width: 360px;
        font-size: 24px;
    }
    .heading-1-1 {
        font-size: 24px;
        padding-bottom: 1rem;
        margin-right: 110px;
    }
    .slidingVertical{
        text-indent: 5px;
    }
    #temp-line {
        width: 102px;
        right: -107px;
        bottom: 20px;
        border-top: 2px solid #ffffff;
    }
    .divider {
        width: 320px;
    }
    .spacer-1 {
        height: 20px;
    }
    .body-text-1 {
        padding-top: 1rem;
        width: 360px;
        font-size: 16px;
    }
    .block-2 {
        flex-direction: column;
        min-height: 820px;
    }
    .block-2-image {
        margin: 0;
    }
    .block-2-text {
        margin-left: 3rem;
        margin-bottom: 6rem;
    }
    .block-3 {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .heading-3 {
        padding-top: 2rem;
    }
    .block-3-icons {
        grid-template-columns: 170px 170px;
        column-gap: 1rem;
    }
    .icon-text-3 {
        width: 160px;
    }
    .block-4 {
        flex-direction: column;
        min-height: 800px;
    }
    .block-4-image {
        display: none;
    }
    .block-4-image-2 {
        max-width: 576px;
        max-height: 586px;
        min-width: 340px;
        min-height: 344px;
        display: flex;
    }
    .block-4-text {
        margin-left: 3rem;
        margin-right: 2rem;
    }
    .spacer-4-5 {
        height: 120px;
    }
    .block-5 {
        flex-direction: column;
        min-height: 800px;
    }
    .block-5-text {
        margin-left: 3rem;
        margin-bottom: 6rem;
        margin-right: 2rem;
    }
    .heading-6 {
        padding-top: 14rem;
        padding-bottom: 10px;
        max-width: 690px;
        min-width: 320px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .divider-6 {
        display: none;
    }
    .block-6-content {
        flex-direction: column;
        height: 560px;
    }
    .block-6-quote {
        display: none;
    }
    .block-6-quote-2 {
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 17px;
    }
    .block-6-partners {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 140px 140px;
        column-gap: 0.2rem;
        row-gap: 1rem;
    }
    .spacer-6-7 {
        height: 280px;
    }
    .heading-7 {
        max-width: 500px;
        min-width: 360px;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 30px;
    }
    .block-7 {
        height: 1000px;
    }
    .grid-7 {
        grid-template-columns: 260px;
        column-gap: 0rem;
        row-gap: 2.5rem;
    }
    .heading-7-1 {
        font-size: 18px;
        padding-bottom: 0.4rem;
    }
    .body-text-7 {
        font-size: 17px;
        padding-top: 0.4rem;
    }
    .spacer-7-8 {
        height: 100px;
    }
    .block-8 {
        flex-direction: column;
        align-items: center;
        height: 1100px;
        gap: 2rem;
        margin-bottom: 6rem;
    }
    .block-8-card {
        width: 270px;
    }
    .heading-8-1 {
        font-size: 20px;
        padding-top: 1rem;
    }
    .body-text-8 {
        width: 240px;
    }
    .heading-9 {
        max-width: 520px;
        min-width: 340px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .end-button {
        color: #ffffff;
    }
    .block-10 {
        gap: 60px;
    }
    .block-10-nav {
        align-items: end;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 0;
    }
    .pa {
        display: none;
    }
    .pa-2 {
        display: flex;
        padding-top: 0px;
    }
    .thc {
        display: none;
    }
    .ablock-1 {
        height: 220px;
    }
    .abody-text-2 {
        max-width: 340px;
        bottom: -20px;
        font-size: 74px;
        right: 28vw;
    }
    .ablock-2 {
        height: 700px;
        gap: 1.5rem;
    }
    .ablock-2-image {
        margin-left: 0rem;
        max-width: 86px;
        min-width: 86px;
    }
    #desktop-timeline {
        display: none;
    }
    #mobile-timeline {
        display: flex;
    }
    .ablock-2-text {
        width: 250px;
        gap: 2rem;
        margin-right: 0rem;
    }
    .text2 {
        font-size: 16px;
    }
    .ablock-3 {
        flex-direction: column;
        min-height: 860px;
    }
    .ablock-3-image-2 {
        display: flex;
        max-width: 572px;
        max-height: 575px;
        min-width: 340px;
        min-height: 340px;
    }
    .ablock-3-image {
        display: none;
    }
    .ablock-3-text {
        margin-left: 3rem;
        margin-right: 2rem;
        margin-bottom: 6rem;
    }
    .aspacer-3-4 {
        height: 50px;
    }
    .ablock-4-top {
        height: 100px;
    }
    .aheading-4-1 {
        width: 380px;
    }
    .ablock-4 {
        height: 580px;
    }
    .acards-4 {
        gap: 0px;
        flex-direction: column;
    }
    .ablock-4-card {
        margin-top: 0px;
    }
    #top-card {
        margin-top: 80px;
    }
    .aspacer-4-5 {
        height: 90px;
    }
    .aheading-5-1 {
        min-width: 320px;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1rem;
    }
    .acards-5 {
        flex-direction: column;
        gap: 2rem;
    }
    .aspacer-5-6 {
        height: 120px;
    }
    .cblock-1 {
        flex-direction: column;
        gap: 20px;
        height: 1000px;
    }
    .cheading-1 {
        font-size: 24px;
        width: 307px;
    }
    .cheading-1-1 {
        font-size: 22px;
        width: 280px;
        padding-bottom: 20px;
    }
    .tip-1 {
        display: none;
    }
    .tip-1-1 {
        font-size: 22px;
    }
    .form-1 {
        padding-bottom: 20px;
    }
    .form_name {
        gap: 8px;
    }
    .form-1-fname {
       width: 150px;
    }
    .form-1-lname {
        width: 150px;
    }
    .form-1-email {
        width: 307px;
    }
    .form-1-message {
        width: 307px;
    }
    .tip-2 {
        display: flex;
        box-shadow: 0px 8px 10px #00000055;
        width: 290px;
    }
    #tip-2-link {
        text-decoration: none;
    }
    .cspacer-1-2 {
        display: none;
    }
    .cblock-2 {
        display: none;
    }
    .carrow {
        display: none;
    }
    .cblock-2-text {
        display: none;
    }
    .gform {
        display: none;
    }
    .faq-block {
        align-items: center;
    }
    .faq-heading {
        font-size: 22px;
        margin-left: 180px;
    }
    .cheading-3-1 {
        font-size: 19px;
        width: 340px;
    }
    .cdivider-3 {
        width: 330px;
    }
    .cbody-text-3 {
        width: 330px;
    }
}